[SddmGreeterTheme]
Name=Hyperion
Description=Hyperion SDDM Theme (based on ittu_bottom by Adhe)
Author=Hyperion
Copyright=(c) 2024, Hyperion
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/patrixr/dotfiles
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=hyperion
Theme-API=2.0
