CLOUDFLARED_TOKEN="SOMETOKEN"
N8N_BASIC_AUTH_ACTIVE="true"
N8N_BASIC_AUTH_USER="admin"
N8N_BASIC_AUTH_PASSWORD="admin"
N8N_HOST="n8n.somedomain.com"
N8N_EDITOR_BASE_URL="https://n8n.somedomain.com"
WEBHOOK_URL="https://n8n.baklavabytes.com"
N8N_PROTOCOL=https
